#root {
	max-width: 1280px;
	margin: 0 auto;
	padding: 2rem;
	text-align: center;
	--card-padding: 0.5rem;
}

* {
	box-sizing: border-box;
}

main.game {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}

.p1 {
	color: #223388;
}

.p2 {
	color: #662222;
}

.p1-bg {
	background-color: #223388;

}

.p2-bg {
	background-color: #662222;
}